html
  head
    title Todo List
  body
    h1 Todo List
    ul
      each item in items
        li= item.body
    form(method="POST", action="/add")
      label(for="body") Add:
      input(type="text", name="body", id="body", placeholder="grocery shopping")
      input(type="submit", value="Insert")
