block vars
html
  head
    title= title
    block styles
    link(rel="stylesheet", href="/css/master.css")
  body
    #wrap
      include topnav
      .container
        block content
    include footer
